---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - agentgateway.dev
  resources:
  - agentgatewaybackends
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - gateways
  - httproutes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - toolgatewayclasses
  - toolgateways
  - toolservers
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - runtime.agentic-layer.ai
  resources:
  - toolgateways/status
  verbs:
  - get
  - patch
  - update
